<nav class="navbar navbar-default"

ng-hide="stateName()==='connect'"

>
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
            aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="home()">Servicity Dashboard</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"
            ng-controller="connect as login"
        >

            <ul class="nav navbar-nav navbar-right">
                
                <li ng-hide="!statusLogged()">
                    <a ui-sref="profile()">My profile</a>
                </li>
                <li ng-hide="!statusLogged()">
                    <a ui-sref="services({user:currentUser()})">My services</a>
                </li>
                
                <li ng-hide="statusLogged() || stateName()==='connect'">
                    <button ng-click="goto('connect',{})" type="button" class="btn btn-default navbar-btn">Connect</button>
                </li>
                
                <li ng-show="statusLogged()">
                    <button ng-click="login.disconnect()" type="button" class="btn btn-default navbar-btn">Disconnect</button>
                </li>

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>