<div class="panel panel-default" ng-controller="connectCtrl as vm">
    <div class="panel-heading">Connect</div>
    <form name="vm.form" ng-submit="vm.onSubmit()" novalidate>
        <formly-form model="vm.model" fields="vm.fields"></formly-form>
        

        <div class="alert alert-warning alert-dismissible" role="alert" ng-hide="!warning">
            <button ng-click="warning = null" type="button" class="close"  aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Warning!</strong> {{warning}}
        </div>

    </form>
    <div class="panel-body">
        <div class="btn-group" role="group" aria-label="...">
            <button
            ng-disabled="vm.form.$invalid 
            ng-click="onLogin()" type="button" class="btn btn-default">Login</button>
            <button ng-click="onRegister()" type="button" class="btn btn-default">Register</button>
        </div>
    </div>
</div>