<div class="ba-grid-connect">
    <div class="container ba-form-sm vertical-center">
        <div class="panel panel-default" ng-controller="connect as vm">
            <div class="container-fluid">
                <div class="panel-heading text-center">Connect</div>
                <form name="vm.form" ng-submit="vm.onSubmit()" novalidate>
                    <formly-form model="vm.model" fields="vm.fields"></formly-form>


                    <div class="alert alert-warning alert-dismissible" role="alert" ng-hide="!warning">
                        <button ng-click="warning = null" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong>Warning!</strong> {{warning}}
                    </div>

                </form>
                <div class="panel-body text-center">
                    <div class="btn-group" role="group" aria-label="...">
                        <button ng-disabled="vm.form.$invalid" ng-click="onLogin()" type="button" class="btn btn-default">Login</button>
                        <button ng-disabled="vm.form.$invalid" ng-click="onRegister()" type="button" class="btn btn-default">Register</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>