<div class="container-fluid">
    <div class="jumbotron">
        <h1>Welcome to Servicity</h1>
        <p>This is a web platform to help people to find each other and exchange their servicies.</p>
        <p>
            You are free to expose the service/s you may offer as a freelancer or through your company. Here you can find and create
            job opportunities in a fast way through your servicity dashboard. You only need to create and account in two
            steps and start managing your works or finding interestings deals referer to an existing service.
        </p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
    </div>

    <div class="jumbotron">
        <h1 class="text-center">&GreaterFullEqual; </h1>
        <h5 class="text-center">
            <em>'diversify your opportunities, think smarter not harder' <em>
        </h5>
        <p class="text-center">
            <a class="btn btn-success btn-lg" href="#" role="button">Join now</a>
        </p>
    </div>


    <div class="well well-lg">
        <address>
            <strong>An startup idea of misitioba</strong><br>
            Paris, CA 75010<br>
            <abbr title="Phone">P:</abbr> (+33) 782809254
        </address>
        <abbr title="Email">M:</abbr> ja@misitioba.com
        <a href='https://mail.google.com/mail/?view=cm&fs=1&to=ja@misitioba.com' target='blank'>
            <span class="glyphicon glyphicon-envelope"></span>
        </a>

    </div>

</div>